# **Data Cleaning Framework**

**Telecom Churn Prediction**

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [ ]:
# read data
churn_data = pd.read_csv("/content/churn_data.csv")
churn_data.head(5)

#**Assessing Data**
**Detecting Issues**

In [4]:
churn_data.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [36]:
# copying dataframe for cleaning
churn_data_copy = churn_data.copy()

#**Document Issues**
**Quality Issues:**


*   transform column names to lowercase.
*   remove rows with null values in total charge column.
*   change total charges from object type to float type.

**Tidy Issues:**
* split columns of contracts, payment method, multiplelines, and internetservice.
* drop customerID column, paperlessbilling, onlinebackup, onlinesecurity and techsupport.

# **Data Cleaning**
**Quality Issue #1**
#### **Define:** 


*   transform column names to lowercase and split features.


**Code:**

In [37]:
# features to lowercase
churn_data_copy.columns = map(str.lower, churn_data_copy.columns)

In [38]:
# add underscore to separate words
churn_data_copy.rename(
    {
        'seniorcitizen': 'senior_citizen',
        'phoneservice': 'phone_service',
        'multiplelines': 'multiple_lines',
        'internetservice': 'internet_service',
        'deviceprotection': 'device_protection',
        'streamingtv': 'streaming_tv',
        'streamingmovies': 'streaming_movies',
        'paymentmethod': 'payment_method',
        'monthlycharges': 'monthly_charges',
        'totalcharges': 'total_charges'
  }, axis=1, inplace=True
)

**Test:**

In [39]:
churn_data_copy.dtypes

customerid            object
gender                object
senior_citizen         int64
partner               object
dependents            object
tenure                 int64
phone_service         object
multiple_lines        object
internet_service      object
onlinesecurity        object
onlinebackup          object
device_protection     object
techsupport           object
streaming_tv          object
streaming_movies      object
contract              object
paperlessbilling      object
payment_method        object
monthly_charges      float64
total_charges         object
churn                 object
dtype: object


**Quality Issue #2**

**Define:** 


*   change total charges from object type to float type.
*   remove rows with null values in total charge column.


**Code:**

In [40]:
# remove rows with null values.
churn_data_copy = churn_data_copy[churn_data_copy.total_charges != " "]
# churn_data_copy.dropna(inplace=True)

In [41]:
# convert to float.
churn_data_copy.total_charges = pd.to_numeric(churn_data_copy.total_charges)

**Test:**

In [42]:
# test type of floats 
churn_data_copy.total_charges.dtypes

dtype('float64')

In [43]:
# check if empty rows are removed
churn_data_copy.shape

(7032, 21)

**Tidiness Issue #1**

**Define:**

* drop columns.

**Code:**

In [45]:
churn_data_copy.drop(columns=[
    'customerid', 
    'onlinesecurity', 
    'techsupport', 
    'paperlessbilling', 
    'onlinebackup'], axis=1, inplace=True
)

**Test:**

In [46]:
churn_data_copy.head(5)

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,device_protection,streaming_tv,streaming_movies,contract,payment_method,monthly_charges,total_charges,churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,No,No,Month-to-month,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,No,One year,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,No,No,No,Month-to-month,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,No,One year,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,Month-to-month,Electronic check,70.70,151.65,Yes

#**Data Engineering**
**Detected Issues**

In [47]:
def print_unique_column_values(churn_data_copy):
  for column in churn_data_copy:
    if churn_data_copy[column].dtypes == "object":
      print(f"{column} : {churn_data_copy[column].unique()}")

In [48]:
print_unique_column_values(churn_data_copy)

gender : ['Female' 'Male']
partner : ['Yes' 'No']
dependents : ['No' 'Yes']
phone_service : ['No' 'Yes']
multiple_lines : ['No phone service' 'No' 'Yes']
internet_service : ['DSL' 'Fiber optic' 'No']
device_protection : ['No' 'Yes' 'No internet service']
streaming_tv : ['No' 'Yes' 'No internet service']
streaming_movies : ['No' 'Yes' 'No internet service']
contract : ['Month-to-month' 'One year' 'Two year']
payment_method : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
churn : ['No' 'Yes']

**Code:**

In [50]:
churn_data_copy.replace("No internet service", "No", inplace=True)
churn_data_copy.replace("No phone service", "No", inplace=True)

**Test:**

In [51]:
print_unique_column_values(churn_data_copy)

gender : ['Female' 'Male']
partner : ['Yes' 'No']
dependents : ['No' 'Yes']
phone_service : ['No' 'Yes']
multiple_lines : ['No' 'Yes']
internet_service : ['DSL' 'Fiber optic' 'No']
device_protection : ['No' 'Yes']
streaming_tv : ['No' 'Yes']
streaming_movies : ['No' 'Yes']
contract : ['Month-to-month' 'One year' 'Two year']
payment_method : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
churn : ['No' 'Yes']

**Code:**

In [52]:
# replace yes with 1 and no with 0
for col in churn_data_copy:
  churn_data_copy[col].replace({"Yes": 1, "No": 0}, inplace=True)

**Test**

In [53]:
for col in churn_data_copy:
  print(f"{col} : {churn_data_copy[col].unique()}")

gender : ['Female' 'Male']
senior_citizen : [0 1]
partner : [1 0]
dependents : [0 1]
tenure : [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
phone_service : [0 1]
multiple_lines : [0 1]
internet_service : ['DSL' 'Fiber optic' 0]
device_protection : [0 1]
streaming_tv : [0 1]
streaming_movies : [0 1]
contract : ['Month-to-month' 'One year' 'Two year']
payment_method : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
monthly_charges : [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
total_charges : [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
churn : [0 1]

**Code:**

In [54]:
# change gender to female=1 and male=0
churn_data_copy.gender.replace({"Female": 1, "Male": 0}, inplace=True)

**Test**

In [55]:
churn_data_copy.gender.unique()

array([1, 0])

**Code:**

In [56]:
churn_data_copy = pd.get_dummies(data=churn_data_copy, columns=["internet_service", "contract", "payment_method"])

**Test**

In [57]:
churn_data_copy.columns

Index(['gender', 'senior_citizen', 'partner', 'dependents', 'tenure',
       'phone_service', 'multiple_lines', 'device_protection', 'streaming_tv',
       'streaming_movies', 'monthly_charges', 'total_charges', 'churn',
       'internet_service_0', 'internet_service_DSL',
       'internet_service_Fiber optic', 'contract_Month-to-month',
       'contract_One year', 'contract_Two year',
       'payment_method_Bank transfer (automatic)',
       'payment_method_Credit card (automatic)',
       'payment_method_Electronic check', 'payment_method_Mailed check'],
      dtype='object')

In [58]:
churn_data_copy.head(5)

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,device_protection,streaming_tv,streaming_movies,...,internet_service_0,internet_service_DSL,internet_service_Fiber optic,contract_Month-to-month,contract_One year,contract_Two year,payment_method_Bank transfer (automatic),payment_method_Credit card (automatic),payment_method_Electronic check,payment_method_Mailed check
0,1,0,1,0,1,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
1,0,0,0,0,34,1,0,1,0,0,...,0,1,0,0,1,0,0,0,0,1
2,0,0,0,0,2,1,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
3,0,0,0,0,45,0,0,1,0,0,...,0,1,0,0,1,0,1,0,0,0
4,1,0,0,0,2,1,0,0,0,0,...,0,0,1,1,0,0,0,0,1,0

**Code**

In [59]:
# features to lowercase
churn_data_copy.columns = map(str.lower, churn_data_copy.columns)

**Test:**

In [60]:
churn_data_copy.dtypes

gender                                        int64
senior_citizen                                int64
partner                                       int64
dependents                                    int64
tenure                                        int64
phone_service                                 int64
multiple_lines                                int64
device_protection                             int64
streaming_tv                                  int64
streaming_movies                              int64
monthly_charges                             float64
total_charges                               float64
churn                                         int64
internet_service_0                            uint8
internet_service_dsl                          uint8
internet_service_fiber optic                  uint8
contract_month-to-month                       uint8
contract_one year                             uint8
contract_two year                             uint8
payment_method_bank transfer (automatic)      uint8
payment_method_credit card (automatic)        uint8
payment_method_electronic check               uint8
payment_method_mailed check                   uint8
dtype: object

**Code:**

In [61]:
# add underscore to separate words
churn_data_copy.rename(
    {
        'internet_service_0': 'no_internet_service',
        'internet_service_fiber optic': 'internet_service_fiber_optic',
        'contract_month-to-month': 'contract_month_to_month',
        'contract_one_year': 'contract_one_year',
        'contract_two year': 'contract_two_year',
        'payment_method_bank transfer (automatic)': 'payment_method_eft',
        'payment_method_credit card (automatic)': 'payment_method_credit_card',
        'payment_method_electronic check': 'payment_method_electronic_check',
        'payment_method_mailed check': 'payment_method_mailed_check',
  }, axis=1, inplace=True
)

**Test**

In [62]:
churn_data_copy.dtypes

gender                               int64
senior_citizen                       int64
partner                              int64
dependents                           int64
tenure                               int64
phone_service                        int64
multiple_lines                       int64
device_protection                    int64
streaming_tv                         int64
streaming_movies                     int64
monthly_charges                    float64
total_charges                      float64
churn                                int64
no_internet_service                  uint8
internet_service_dsl                 uint8
internet_service_fiber_optic         uint8
contract_month_to_month              uint8
contract_one year                    uint8
contract_two_year                    uint8
payment_method_eft                   uint8
payment_method_credit_card           uint8
payment_method_electronic_check      uint8
payment_method_mailed_check          uint8
dtype: object

In [63]:
churn_data_copy.sample(5)

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,device_protection,streaming_tv,streaming_movies,...,no_internet_service,internet_service_dsl,internet_service_fiber_optic,contract_month_to_month,contract_one year,contract_two_year,payment_method_eft,payment_method_credit_card,payment_method_electronic_check,payment_method_mailed_check
1084,1,0,1,1,52,1,0,0,0,0,...,1,0,0,0,1,0,0,1,0,0
5659,0,0,0,0,63,1,1,1,0,1,...,0,1,0,0,0,1,1,0,0,0
2621,0,0,1,0,71,1,0,1,1,1,...,0,1,0,0,0,1,0,1,0,0
3511,0,0,0,0,53,1,1,0,0,0,...,1,0,0,0,0,1,0,0,0,1
1837,0,0,0,0,1,1,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0

**Code:**

In [64]:
# scale tenure, monthly_charges & total_charges
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

columns_to_scale = ['tenure', 'monthly_charges', 'tenure']

churn_data_copy[columns_to_scale] = scaler.fit_transform(churn_data_copy[columns_to_scale])

**Test:**

In [65]:
churn_data_copy.sample(5)

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,device_protection,streaming_tv,streaming_movies,...,no_internet_service,internet_service_dsl,internet_service_fiber_optic,contract_month_to_month,contract_one year,contract_two_year,payment_method_eft,payment_method_credit_card,payment_method_electronic_check,payment_method_mailed_check
3687,0,0,1,1,0.253521,1,0,0,1,1,...,0,0,1,0,1,0,1,0,0,0
1094,0,0,1,1,0.563380,1,1,1,1,0,...,0,1,0,0,1,0,1,0,0,0
669,1,0,1,0,0.971831,0,0,1,1,1,...,0,1,0,0,0,1,1,0,0,0
4492,0,0,1,1,0.746479,1,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
1301,1,0,1,1,0.915493,1,0,0,0,0,...,0,1,0,0,0,1,0,1,0,0

# **Machine Learning**

**Code:**

In [66]:
x = churn_data_copy.drop('churn', axis='columns')
y = churn_data_copy.churn

In [67]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=5)

**Test:**

In [68]:
x_train.shape

(5625, 22)

In [69]:
len(x_train.columns)

22

**Code:**

In [92]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

model = Sequential([
    Dense(units=32, input_shape=(22,), activation='relu'),
    Dense(units=32, activation='relu'),
    Dense(1, activation='sigmoid'),
])

In [93]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [94]:
model.fit(x_train, y_train, epochs=100)

Epoch 1/100
176/176 [==============================] - 1s 2ms/step - loss: 3.0506 - accuracy: 0.6444
Epoch 2/100
176/176 [==============================] - 0s 2ms/step - loss: 1.0261 - accuracy: 0.7042
Epoch 3/100
176/176 [==============================] - 0s 2ms/step - loss: 1.0206 - accuracy: 0.7323
Epoch 4/100
176/176 [==============================] - 0s 2ms/step - loss: 0.9553 - accuracy: 0.7476
Epoch 5/100
176/176 [==============================] - 0s 2ms/step - loss: 0.7499 - accuracy: 0.7536
Epoch 6/100
176/176 [==============================] - 0s 2ms/step - loss: 0.8781 - accuracy: 0.7463
Epoch 7/100
176/176 [==============================] - 0s 2ms/step - loss: 0.7107 - accuracy: 0.7616
Epoch 8/100
176/176 [==============================] - 0s 2ms/step - loss: 0.8152 - accuracy: 0.7634
Epoch 9/100
176/176 [==============================] - 0s 2ms/step - loss: 0.9129 - accuracy: 0.7593
Epoch 10/100
176/176 [==============================] - 0s 2ms/step - loss: 0.7725 - accuracy: 0.7644
Epoch 11/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5966 - accuracy: 0.7737
Epoch 12/100
176/176 [==============================] - 0s 2ms/step - loss: 0.6035 - accuracy: 0.7716
Epoch 13/100
176/176 [==============================] - 0s 2ms/step - loss: 0.7088 - accuracy: 0.7694
Epoch 14/100
176/176 [==============================] - 0s 2ms/step - loss: 0.8051 - accuracy: 0.7566
Epoch 15/100
176/176 [==============================] - 0s 2ms/step - loss: 0.8948 - accuracy: 0.7509
Epoch 16/100
176/176 [==============================] - 0s 2ms/step - loss: 0.6440 - accuracy: 0.7678
Epoch 17/100
176/176 [==============================] - 0s 2ms/step - loss: 0.6127 - accuracy: 0.7652
Epoch 18/100
176/176 [==============================] - 0s 2ms/step - loss: 0.6406 - accuracy: 0.7692
Epoch 19/100
176/176 [==============================] - 0s 2ms/step - loss: 0.7942 - accuracy: 0.7538
Epoch 20/100
176/176 [==============================] - 0s 2ms/step - loss: 0.7229 - accuracy: 0.7668
Epoch 21/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.7756
Epoch 22/100
176/176 [==============================] - 0s 2ms/step - loss: 0.6572 - accuracy: 0.7682
Epoch 23/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5877 - accuracy: 0.7707
Epoch 24/100
176/176 [==============================] - 0s 2ms/step - loss: 0.6635 - accuracy: 0.7673
Epoch 25/100
176/176 [==============================] - 0s 2ms/step - loss: 0.6395 - accuracy: 0.7678
Epoch 26/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5207 - accuracy: 0.7829
Epoch 27/100
176/176 [==============================] - 0s 2ms/step - loss: 0.7241 - accuracy: 0.7684
Epoch 28/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5894 - accuracy: 0.7748
Epoch 29/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5824 - accuracy: 0.7724
Epoch 30/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5845 - accuracy: 0.7788
Epoch 31/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5289 - accuracy: 0.7788
Epoch 32/100
176/176 [==============================] - 0s 2ms/step - loss: 0.6189 - accuracy: 0.7737
Epoch 33/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5570 - accuracy: 0.7794
Epoch 34/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5557 - accuracy: 0.7726
Epoch 35/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5372 - accuracy: 0.7797
Epoch 36/100
176/176 [==============================] - 0s 2ms/step - loss: 0.6274 - accuracy: 0.7776
Epoch 37/100
176/176 [==============================] - 0s 2ms/step - loss: 0.6093 - accuracy: 0.7710
Epoch 38/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5942 - accuracy: 0.7774
Epoch 39/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5000 - accuracy: 0.7842
Epoch 40/100
176/176 [==============================] - 0s 2ms/step - loss: 0.7618 - accuracy: 0.7678
Epoch 41/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5982 - accuracy: 0.7769
Epoch 42/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4940 - accuracy: 0.7856
Epoch 43/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5527 - accuracy: 0.7765
Epoch 44/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4969 - accuracy: 0.7876
Epoch 45/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5335 - accuracy: 0.7799
Epoch 46/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5230 - accuracy: 0.7829
Epoch 47/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4947 - accuracy: 0.7851
Epoch 48/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5109 - accuracy: 0.7877
Epoch 49/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5094 - accuracy: 0.7829
Epoch 50/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5205 - accuracy: 0.7861
Epoch 51/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5177 - accuracy: 0.7870
Epoch 52/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4730 - accuracy: 0.7858
Epoch 53/100
176/176 [==============================] - 0s 2ms/step - loss: 0.6088 - accuracy: 0.7710
Epoch 54/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4523 - accuracy: 0.7952
Epoch 55/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4895 - accuracy: 0.7893
Epoch 56/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5431 - accuracy: 0.7819
Epoch 57/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5471 - accuracy: 0.7783
Epoch 58/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4734 - accuracy: 0.7918
Epoch 59/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4853 - accuracy: 0.7909
Epoch 60/100
176/176 [==============================] - 0s 2ms/step - loss: 0.6177 - accuracy: 0.7733
Epoch 61/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4698 - accuracy: 0.7952
Epoch 62/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4939 - accuracy: 0.7852
Epoch 63/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5225 - accuracy: 0.7817
Epoch 64/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4657 - accuracy: 0.7932
Epoch 65/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4728 - accuracy: 0.7909
Epoch 66/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4755 - accuracy: 0.7909
Epoch 67/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4514 - accuracy: 0.7964
Epoch 68/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4574 - accuracy: 0.7902
Epoch 69/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4707 - accuracy: 0.7895
Epoch 70/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4743 - accuracy: 0.7940
Epoch 71/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5631 - accuracy: 0.7828
Epoch 72/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4547 - accuracy: 0.7931
Epoch 73/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4569 - accuracy: 0.7945
Epoch 74/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4491 - accuracy: 0.7954
Epoch 75/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4475 - accuracy: 0.7943
Epoch 76/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4717 - accuracy: 0.7881
Epoch 77/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4590 - accuracy: 0.7934
Epoch 78/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4573 - accuracy: 0.7925
Epoch 79/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4594 - accuracy: 0.7938
Epoch 80/100
176/176 [==============================] - 0s 2ms/step - loss: 0.5165 - accuracy: 0.7872
Epoch 81/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4794 - accuracy: 0.7915
Epoch 82/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4412 - accuracy: 0.8002
Epoch 83/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4494 - accuracy: 0.7993
Epoch 84/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4543 - accuracy: 0.7940
Epoch 85/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4392 - accuracy: 0.7977
Epoch 86/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4566 - accuracy: 0.7911
Epoch 87/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4323 - accuracy: 0.7984
Epoch 88/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4388 - accuracy: 0.8020
Epoch 89/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4430 - accuracy: 0.7986
Epoch 90/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4764 - accuracy: 0.7895
Epoch 91/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4350 - accuracy: 0.7966
Epoch 92/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4259 - accuracy: 0.8037
Epoch 93/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4374 - accuracy: 0.7972
Epoch 94/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4360 - accuracy: 0.7989
Epoch 95/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4355 - accuracy: 0.8020
Epoch 96/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4303 - accuracy: 0.7996
Epoch 97/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4319 - accuracy: 0.8000
Epoch 98/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4275 - accuracy: 0.8025
Epoch 99/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4312 - accuracy: 0.8037
Epoch 100/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4296 - accuracy: 0.7980